  
  h1 {
    font-family: "Calibri";
    font-weight: 700;
    text-align: center;
    margin:20px;
  }

  
  .Sigarra {
    text-align:center;
    display:block;   
  }

  .Sigarrapag {
    margin:5px;
    text-align:center;
    display:block;
    font-size: 12px;
  }

  .foto1 {
    border:1px solid black;
  }

  .Links {
    text-align:center;
    display: grid;
    grid-template-rows: repeat(3, 50px); 
  }

  .Mail {
    font-size: 12px;

  }

 /* a img { display:none; }
  a:hover img { display:block; }*/