  
  h1 {
    font-family: "Calibri";
    font-weight: 700;
    text-align: center;
    margin:20px;
  }

  
  .Sigarra {
    text-align:center;
    display:block;
  }
  .Sigarrapag {
    text-align:center;
    display:block;
  }