  
  h1 {
    font-family: "Calibri";
    font-weight: 700;
    text-align: center;
    margin:20px;
  }

  
  .Sigarra, .Links {
    text-align:center;
    display:block;   
  }

  .Sigarrapag {
    margin:5px;
    text-align:center;
    display:block;
    font-size: 12px;
  }

  .foto1 {
    border:1px solid black;
  }

  .Links{
    display: grid;
  }

  .Mail{
    padding-left:50em;
  }


